---
layout: null
---
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css" integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css" integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<style>{% capture styles %}{% include css/style.scss %}{% endcapture %}{{ styles | scssify }}</style>

	<title>{{ site.title }}</title>

	<link rel="icon" href="{{ site.icon }}">
</head>
<body>
	<nav class="nav-panel">
		<ul>
			<li class="tag"><a data-tooltip="All" href="#"><i class="icon fa-solid fa-table-cells-large" aria-hidden="true"></i></a></li>
			{% for nav in site.data.nav %}
			<li class="tag"><a data-tooltip="{{ nav.name }}" href="#{{ nav.tag }}"><i class="icon fa-solid fa-{{ nav.icon }}" aria-hidden="true"></i></a></li>
			{% endfor %}
		</ul>
	</nav>
	<main class="container">
		<div class="tile-container">
			{% for tile in site.data.tiles %}
			<a class="tile tile-link" href="{{ tile.url }}" data-groups='{{ tile.tags | join: "," }}' target="_blank">
				<div class="tile-box" data-title='{{ tile.name }}' data-url='{{ tile.url }}' {% if tile.img %}data-img='{{ tile.img | relative_url }}' {% endif %}{% if tile.bg_color or tile.txt_color %}{% if tile.bg_color %}data-bg-color='{{ tile.bg_color }}' {% endif %}{% if tile.txt_color %}data-txt-color='{{ tile.txt_color }}' {% endif %}style='{% if tile.bg_color %}background-color:{{ tile.bg_color }}; {% endif %}{% if tile.txt_color %}color:{{ tile.txt_color }}{% endif %}'{% endif %}>
					{% if tile.img %}<img class="logo" src="{{ tile.img | relative_url }}">{% endif %}
				</div>
				<div class="tile-title">{{ tile.name }}</div>
			</a>
			{% endfor %}
		</div>
	</main>
	<script>{% include js/slate.js %}</script>
</body>
</html>
